<![CDATA[

/* Variable definitions
   ====================
   <Variable name="bgcolor" description="Page Background Color"
             type="color" default="#fff" value="#ffffff">
   <Variable name="textcolor" description="Text Color"
             type="color" default="#666" value="#666666">
   <Variable name="linkcolor" description="Link Color"
             type="color" default="#999" value="#999999">
   <Variable name="linkhovercolor" description="Link Hover Color"
             type="color" default="#333" value="#333333">
   <Variable name="pagetitlecolor" description="Blog Title Color"
             type="color" default="#000" value="#000000">
   <Variable name="descriptioncolor" description="Blog Description Color"
             type="color" default="#777" value="#777777">
   <Variable name="titlecolor" description="Post Title Color"
             type="color" default="#333" value="#333333">
   <Variable name="bordercolor" description="Border Color"
             type="color" default="#ccc" value="#cccccc">
   <Variable name="sidebarcolor" description="Sidebar Title Color"
             type="color" default="#777" value="#777777">
   <Variable name="sidebartextcolor" description="Sidebar Text Color"
             type="color" default="#666" value="#666666">
   <Variable name="visitedlinkcolor" description="Visited Link Color"
             type="color" default="#888" value="#888888">
   <Variable name="pagelinkcolor" description="Page Link Color"
             type="color" default="#333" value="#333333">
   <Variable name="widgettitlefont" description="Widget Title Font"
             type="font" default="normal normal 11px Arial, Georgia, Serif" value="normal normal 11px Arial, Tahoma, Helvetica, FreeSans, sans-serif">
   <Variable name="bodyfont" description="Text Font"
             type="font" default="normal normal 11px Arial, Georgia, Serif" value="normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif">
   <Variable name="headerfont" description="Sidebar Title Font"
             type="font"
             default="normal normal 11px 'Verdana',Trebuchet,Trebuchet MS,Arial,Sans-serif" value="normal normal 11px &#39;Verdana&#39;,Trebuchet,Trebuchet MS,Arial,Sans-serif">
   <Variable name="pagetitlefont" description="Blog Title Font"
             type="font"
             default="normal normal 60px Oswald, Georgia, Serif" value="300 60px Josefin Slab">
   <Variable name="descriptionfont" description="Blog Description Font"
             type="font"
             default="normal normal 10px 'Arial', Verdana, Trebuchet, Trebuchet MS, Verdana, Sans-serif" value="normal normal 10px Josefin Slab">
   <Variable name="postfooterfont" description="Post Footer Font"
             type="font"
             default="normal normal 78% 'Trebuchet MS', Trebuchet, Arial, Verdana, Sans-serif" value="normal normal 78% Arial, Tahoma, Helvetica, FreeSans, sans-serif">
   <Variable name="pagenavifont" description="Page Navigation Font"
             type="font"
             default="normal normal 10px Verdana, Arial, Serif" value="normal normal 10px Verdana, Arial">
   <Variable name="startSide" description="Side where text starts in blog language"
             type="automatic" default="left">
   <Variable name="endSide" description="Side where text ends in blog language"
             type="automatic" default="right">

*/

/* =============================
Misc and Reset
============================= */

#navbar-iframe, .feed-links, .status-msg-wrap {
  display:none;
}
#ArchiveList {
  font: 300 15px Yanone Kaffeesatz;
}
.widget .Label {
  font: 300 14px Yanone Kaffeesatz;
}
::selection {
  background:#000000;
  color:#fff
}
::-moz-selection {
  background:#000000;
  color:#fff
}
body {
  margin:0;
  color:#333;
  background:$bgcolor;
  text-align:center;
}
a:link {
  color:$linkcolor;
  text-decoration:none;
}
a:visited {
  color:$visitedlinkcolor;
  text-decoration:none;
}
a:hover {
  color:$linkhovercolor;
  text-decoration:underline;
}
a img {
  border-width:0;
}

/* =============================
Popular Posts Style
============================= */
.PopularPosts {
  font-family: arial;
}
.PopularPosts .item-content {
  border-bottom: 1px dotted #eee;
  padding-bottom :10px;
}
.PopularPosts .item-snippet {
  font: 10px Arial;
  text-align: justify;
}
.PopularPosts .item-title {
  font: 13px Yanone Kaffeesatz;
}
.PopularPosts .item-thumbnail img {
  border: 1px solid #fbfbfb;
  padding: 0;
}


/* =============================
Search Box
============================= */
#srcnt {
  float:right;
  margin:0;
  padding:13px 0;
  width:auto;
  overflow:hidden;
}
#search input[type="text"] {
  border: 3px solid #eee;
  border-radius:3px;
  color: #777;
  width: 280px;
  padding: 7px;
  font:normal 12px Verdana, Arial;
  text-transform:uppercase;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
#search input[type="text"]:focus {
  width: 320px;
}


/* =============================
Header
============================= */
#header-wrapper{
  width:950px;
  margin:20px auto 0;
}
#header-inner {
  background-position: center;
  margin:0 auto;
  width:950px;
}
#header { 
  margin:0;
  text-align: center;
  color:$pagetitlecolor;
  width:950px;
}
#header h1 {
  margin:5px 5px 0;
  padding:15px 20px 0;
  line-height:1.2em;
  text-transform:uppercase;
  letter-spacing:.2em;
  font: $pagetitlefont;
}

#header a {
  color:$pagetitlecolor;
  text-decoration:none;
}
#header a:hover {
  color:$pagetitlecolor;
}
#header .description {
  margin:0 5px 0;
  padding:0 20px 15px;
  max-width:950px;
  letter-spacing:.2em;
  line-height: 1.4em;
  font: $descriptionfont;
  color: $descriptioncolor;
  text-transform: uppercase;
}
#header-inner img {
  margin:0 auto;
  max-width:950px;
  height:auto;
}
#header img {
  margin:0 auto;
  max-width:950px;
  height:auto;
}

/* =============================
Navigation
============================= */
*{
  margin:0;
  padding:0;
  outline:0;
}
.nav {
  width:950px;
  height:auto;
  border-bottom:1px solid #eee;
  margin:30px auto 5px;
  display:inline-block;
}
.menu {
  width:auto;
  list-style:none;
  font:$pagenavifont;
  font-size: 12px;
  font-weight: bold;
  text-align:center;
  margin:0 auto;
}
.menu a {
  float:left;
  color:#999;
  text-decoration:none;
  text-transform:uppercase;
  width:auto;
  line-height:36px;
  padding:0 20px;
}
.menu a:hover,li.menuhover a{
  color:#111;
}
.menu li {
  position:relative;
  float:left;
  width:auto;
}
.menu li:last-child {
  background:none;
}
.menu ul{
  display:none;
  position:absolute;
  top:36px;
  left:0;
  background:#fbfbfb;
  display:none;
  list-style:none;
}
.menu ul li{
  float:none;
  border-top:1px solid #e3e3e3;
  border-right:1px solid #e3e3e3;
  border-left:1px solid #e3e3e3;
  width:auto;
  font-size: 11px;
  background:none;
}
.menu ul li:last-child {
  border-bottom:1px solid #e3e3e3
}
.menu ul li a{
  float:none;
  display:block;
  background:none;
  line-height:14px;
  min-width:137px;
  width:337px;
  text-align:left;
  padding-left:10px;
  color:#444;
}
.menu ul li a:hover{
  background:#fdfdfd;
  color:#777;
}


/* =============================
Wrapper
============================= */
#total-wrapper {
  margin: 0 auto;
  padding 0 10px;
  background:#fff;
  width:1000px;
}
#outer-wrapper{
  width:960px;
  margin:10px auto 0;
  padding:5px 20px 0;
  text-align:$startSide;
  font:$bodyfont;
}
#main-wrapper {
  width:680px;
  float:$endSide;
  word-wrap:break-word;
  overflow:hidden;
}

#sidebar-wrapper{
  width:240px;
  float:$startSide;
  word-wrap:break-word;
  overflow:hidden;
}


/* =============================
Heading
============================= */
h2{
  margin:1.5em 0 15px;
  font:$widgettitlefont;
  line-height: 1.4em;
  padding-bottom:10px;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#000;
}
.sidebar h2 {
  padding:0px 3px 10px;
  margin:0 0 15px;
  letter-spacing:1px;
  border-bottom:1px solid #eee;
  font:300 15px Yanone Kaffeesatz;
}
#blog-date-header {
  font:normal 8px Verdana, Arial;
  color:#555;
  letter-spacing:0;
}
#blog-date-header i {
  text-transform:none;
}
h2.date-header {
  border-bottom:1px solid #eee;
  color:#777;
}


/* =============================
Posts
============================= */
.post {
  margin:.5em 0 1.5em;
  border-bottom:1px solid #eee;
  padding-bottom:1.5em;
  font-family:Arial,Sans-serif,Verdana;
  color:#444;
}
.post h1 {
  margin:.25em 0 0;
  padding:0 0 4px;
  font-size:140%;
  line-height:1.4em;
  color:#333;
  font-family:oswald;
}
.post h1 a, .post h1 a:visited, .post h1 strong {
  display:block;
  text-decoration:none;
  color:#333;
  font-weight:400;
}
.post h1 strong, .post h1 a:hover {
  color:#000;
}
.post-body {
  margin:0 0 1.75em;
  line-height:170%;
  font:12px arial;
}
.post-body blockquote {
  line-height:1.3em;
}
.post-footer {
  margin:.75em 0;
  color:#777;
  text-transform:uppercase;
  letter-spacing:.1em;
  font:$postfooterfont;
  line-height:1.4em;
}
.comment-link {
  margin-startside:.6em;
}
.post img {
  max-width:640px;
  height:auto;
}
.post table. tr-caption-container {
  padding-bottom:4px;
}
.tr-caption-container img {
  border:none;
  padding:0;
}
.post blockquote {
  margin:1em 20px;
  padding:2px 5px 2px 35px;
  font-style:italic;
  color:#777;
}
.post blockquote p {
  margin:.75em 0;
}


/* =============================
Comment
============================= */
.comments .comments-content {
  font:normal 11px Arial;
  text-align:left;
  line-height:1.4em;
  margin-bottom:16px;
}
.comments .comments-content .user {
  font-style:normal;
  font-weight:normal;
  text-transform:uppercase;
  color:#000;
}
.comments .comments-content .datetime {
  margin-left:10px;
}
.comment-replies{
  background:#fbfbfd;
  box-shadow:inset 0 0 0 1px #f2f2f2;
  border-radius:3px;
}
.comments .comment .comment-actions a {
  background:#999;
  color:#fff;
  padding:2px 5px;
  margin-right:10px;
  font:10px sans-serif;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  transition:.2s linear;
  -moz-transition:.2s linear;
  -webkit-transition:.2s linear;
}
.comments .comment .comment-actions a:hover {
  background:#000;
  text-decoration:none;
  transition:.2s linear;
  -moz-transition:.2s linear;
  -webkit-transition:.2s linear;
}
.comments .avatar-image-container {
  border-radius:3px;
}  
.comments .thread-toggle a {
  color:#a58;
}
.comments .thread-toggle a:hover {
  padding-left:10px;
  color:#a47;
  text-decoration:none;
}
.comments .thread-toggle a:hover, .comments .thread-toggle a {
  transition:.2s linear;
  -moz-transition:.2s linear;
  -webkit-transition:.2s linear;
}
#comments h4 {
  margin:1em 0;
  line-height:1.4em;
  letter-spacing:.2em;
  color:$sidebarcolor;
  text-transform:uppercase;
  font:normal 11px Arial;
}
#comments-block {
  margin:1em 0 1.5em;
  line-height:1.6em;
}
#comments-block .comment-author {
  margin:.5em 0;
}
#comments-block .comment-body {
  margin:.25em 0 0;
}
#comments-block .comment-footer {
  margin:-.25em 0 2em;
  line-height: 1.4em;
  text-transform:uppercase;
  letter-spacing:.1em;
}
#comments-block .comment-body p {
  margin:0 0 .75em;
}
.deleted-comment {
  font-style:italic;
  color:gray;
}

/* =============================
Post Navigation
============================= */
#blog-pager-newer-link, #blog-pager-newer-link a {
  background:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj4-L1e4jWMKf3kLrRXJt3vOoLKnL9zNMYthmBQHbpuOJ3qqsELbm0bdzQRhwPAUlFzTOfNzqj5PAfJL4MxsMY_W_6Whq-MM7w0GT0Ca_fDEUizmV-2l3uwbj5C1Tt1BOsqnWuBHBSHBytXNFtCd1CEGnI8vRTtPH5YJjwpjQTnIjfC2sgIIBUaTT0S_A/s52/flechas-navegacion.png) no-repeat left top;
  float:left;
  width:26px;
  height:26px;
  text-indent:-9999px;
}
#blog-pager-older-link, #blog-pager-older-link a {
  background:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj4-L1e4jWMKf3kLrRXJt3vOoLKnL9zNMYthmBQHbpuOJ3qqsELbm0bdzQRhwPAUlFzTOfNzqj5PAfJL4MxsMY_W_6Whq-MM7w0GT0Ca_fDEUizmV-2l3uwbj5C1Tt1BOsqnWuBHBSHBytXNFtCd1CEGnI8vRTtPH5YJjwpjQTnIjfC2sgIIBUaTT0S_A/s52/flechas-navegacion.png) no-repeat right top;
  float:right;
  width:26px;
  height:26px;
  text-indent:-9999px;
}
#blog-pager { 
  text-align: center;
  border-top:1px solid #eee;
  margin: 10px 5px 0;
}
.home-link{}


/* =============================
Sidebar
============================= */
.sidebar { 
  color: $sidebartextcolor;
  line-height: 1.5em;
  margin:0 5px 0 10px;
}
.sidebar ul {
  list-style:none;
  padding:0;
  margin:0;
}
.sidebar li {
  line-height:1.5em;
}
.sidebar .widget { 
  margin:0 0 1.5em;
  padding:0 0 1.5em;
}
.main .widget{
  border-bottom:1px solid #ccc;
  margin:0 0 1px;
  padding:0 0 1.5em;
}

.main .Blog{
  border-bottom-width:0;
}

/* =============================
Profile
============================= */
.profile-img { 
  float: $startSide;
  margin-top: 0;
  margin-$endSide: 5px;
  margin-bottom: 5px;
  margin-$startSide: 0;
  padding: 4px;
  border: 1px solid $bordercolor;
}
.profile-data {
  margin:0;
  text-transform:uppercase;
  letter-spacing:.1em;
  font: $postfooterfont;
  color: $sidebarcolor;
  font-weight: bold;
  line-height: 1.6em;
}
.profile-datablock { 
  margin:.5em 0 .5em;
}
.profile-textblock { 
  margin: 0.5em 0;
  line-height: 1.6em;
}
.profile-link { 
  font: $postfooterfont;
  text-transform: uppercase;
  letter-spacing: .1em;
}

/* =============================
Error Page
============================= */

#errorpage {
  width:400px;
  text-align:center;
  margin:20px auto;
  text-transform:uppercase;
}
#errorpage h1 {
  font:300 60px Yanone Kaffeesatz;
}
#errorpage h3 {
  font:300 20px Oswald;
  color:#555;
}
#errorpage p {
  font:9px Arial;
  margin-top:5px;
  border-top:1px dashed #ddd;
  padding-top:10px;
  color:#888;
}
#srcnt-errorpage {
  margin:0;
  padding:13px 0;
  width:auto;
  overflow:hidden;
}
#search-errorpage input[type="text"] {
  border: 1px solid #ccc;
  border-radius:3px;
  color: #777;
  width: 180px;
  padding: 7px;
  font:normal 10px Verdana, Arial;
  text-transform:uppercase;
}
#search-errorpage input[type="text"]:focus {
  border: 1px solid #777;
}

/* =============================
Posts Thumbnail and Description
============================= */
.snips-image{
  width:300px;
  height:180px;
  position:relative;
  line-height:1.6em;
  margin:0;
  overflow:hidden;
}
.snips-image img{
  top:0;
  left:0;
  border:0;
  position:absolute;
  min-height:180px;
  max-width:300px;
}
.snips-image a{
  display:block;
  position:relative;
  overflow:hidden;
  height:180px;
  width:300px;
  color:#555;
}
.snips-image a:hover{
  text-decoration:none;
}
.summary{
  padding:10px 0;
  margin:0 50px;
  font:10px Arial, sans-serif;
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
  color:#666;
}
.snips-header{
  margin:25px 50px 10px;
  font:300 12px oswald;
  text-decoration:underlined;
}


/* =============================
Middle and Footer
============================= */
#middle-wrapper {
  width:950px;
  margin:0 auto;
  padding-top:20px;
  border-top:1px solid #eee;
}
#middle-columns {
  font:normal 11px arial;
  width:950px;
  margin:0 auto 20px;
  text-align:$startSide;
  padding:0 0 20px;
}
#middle-columns h2 {
  margin:1.5em 0 15px;
  font:$widgettitlefont;
  border-bottom:1px solid #eee;
  line-height: 1.4em;
  padding: 0 0 10px;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#555;
}
.column1 {
  width:300px;
  float:left;
  margin:3px 25px 3px 0;
  text-align:left;
}
.column2 {
  width:300px;
  float:left;
  margin:3px 0;
  text-align:left;
}
.column3 {
  width:300px;
  float:left;
  margin:3px 0 3px 25px;
  text-align:left;
}
#col1, #col2, #col3 {
  text-align:justify;
  color:#555;
  line-height:17.5px;
}
#col1 a, #col2 a, #col3 a {
  color:#$linkcolor;
}


/* =============================
Footer Links and Credits
============================= */
#footer-links-wrap {
  padding:20px 0 20px;
  width:950px;
  margin:5px auto 0;
  border-top:1px solid #eee;
  background:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg0YG70O5mZOZR31RgDh-6CJFTRS2JY9OJUkN0U3FX4FYcSwrmEHRHD8fvJYJ8Ov22fjXtJkCSHrKcdB56M4bw-THUwRw6sT9TnYQUExpzV32cLiBwYlTxLzKWnvruvT6mf_tSVEJz-q2_VKrffrkKFxO0MIXvlsNWGD1LLDQGAYVxPd88PkvBpz3mmPg/s76/pacman-iz.png) no-repeat left center ,url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiKGv755I4FGZLVlwHweotA9jKuUuC6wilbqItDNr_9aYmL6Bu--27Wi5vp0rmlipQN340HrBmG5e-AAmbZzmO74zXRJneTQVy5a7lH34wFOZriJqQXPoFUMDiapBFu_U0cjOu2qJVyUtCIMa7idx6Kf_feHGdd_eeTflfkV2N-ZaWV-63UZn8LQA0_zQ/s76/pacman-der.png) no-repeat right center;
}
#footer-links a {
  color:#333;
  font-style:normal;
}
#footer-links {
  color:#000;
  width:950px;
  margin:0 auto;
  clear:both;
  font:italic 11px arial;
  text-align:center;
}
#credits {
  line-height:20px;
}

]]>

